<style>
    tbody > tr {
        text-align: center;
        border-bottom: solid;
        border-width: thin;
        border-color: gray
    }
</style>
<div style = "height:100px;">
<div class="container-fluid" width="100%">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
    <div style = "margin-bottom:50px;margin-top:5%"><h4><svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
    <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
    <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
    </svg>Intention Movement Report</h4></div>
    <table id="intention_movement" style = "width:100%">
        <thead>
            <tr>
                <th rowspan = "2" style="background-color: whitesmoke; text-align: center;vertical-align: middle;border-bottom: 1px solid gray;border-right: 1px solid grey;width:30%">Daily</th>
                <th colspan="4" style="text-align-last: center;border-bottom: 1px solid gray;background-color: silver;">#Caller</th>
            </tr>
            <tr>
                <td style="text-align-last: center;border-bottom: 1px solid gray;border-right: 1px solid grey;background-color: whitesmoke;">Bot Cannot Understand</td>
                <td style="text-align-last: center;border-bottom: 1px solid gray;border-right: 1px solid grey;background-color: whitesmoke;">Bot Understand but no Self-service</td>
                <td style="text-align-last: center;border-bottom: 1px solid gray;border-right: 1px solid grey;background-color: whitesmoke;">Transferred to Agent</td>
                <td style="text-align-last: center;border-bottom: 1px solid gray;background-color: whitesmoke;">Actual Handle by Agent</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
    <div class="col"></div>

  </div>